name: Build C program

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Compile
        run: gcc main.c -o hello

      - name: Run
        run: ./hello
